.mycontent {
    background-color:rgba(255,255,255,0.8);
    min-height: 400px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 50px;
    padding: 20px;
}

.navbar {
    margin-top: 20px;
}

.usernamebox {
    margin-top: 10px;
    padding: 10px;
    background-color:rgba(200,200,255,0.8);
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: smaller;
    text-align: center;
}

.usernamebox span.username {
    font-size: 250%;
    font-weight:bold;
}

.registerButtonContainer {
    margin: 10px;
}

#status {
    padding: 10px;
    background-color: black;
    color: white;
    width: 130px;
    position: absolute;
    top: 10px;
    right: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#status h1 {
    font-size: smaller;
    margin: 3px;
}

#status .label {
    display: inline-block;
    width: 70px;
}
#status .value {
}

body {
    padding-top: 50px;
    padding-left: 50px;
    background-color:transparent;
    background:url(../img/bg.jpg);
    background-repeat:no-repeat;
}

.overviewbox {
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color:rgba(255,255,255,0.8);
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.noticebox {
    padding: 20px;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgba(255,255,255,0.9);
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.overviewbox img {
    max-width: 100%;
    max-height: 100%;
}

.overviewbox span {
    display: block;
    font-size: 200%;
}

.overviewbox span.count {
    font-size: 500%;
}

.overviewbox a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.roundInput {
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.modal-body {
    max-height: 800px;
}

.modal-header,.modal-footer {
  background-color:rgb(128,128,128);
  color: white;
}
.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.clickableRow {
    cursor: pointer;
}

.autoSizeImage img {
    max-width: 100%;
}

.warzoneMargin10px {
    margin: 10px;
}

.warzoneRoundCorners3px {
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.warzoneBackgroundWhite50 {
    background-color:rgba(255,255,255,0.5);
}

.warzonePadding10px {
    padding: 10px;
}

body.register {
    padding-top: 0px;
    padding-left: 0px;
    background-color: white;
    background: none;
}

iframe {
    width: 100%;
    height: 300px;
}

/* http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.red-tick {
    color: #a94442;
    font-size: 200%;
}

.green-tick {
    color: #3c763d;
    font-size: 200%;
}

.lightitalic {
    color: #ddd;
    font-style: italic;
}
