<!DOCTYPE html>
<html>
  <head>
    <title>OverTheWire Warzone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="css/bootstrap.css">
    <link rel=stylesheet type=text/css href="css/custom.css">
    <script src="js/jquery.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/angular/angular-moment.min.js"></script>
    <script src="js/highstock.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stats/code-flags.js"></script>
    <script src="js/stats/code-overview.js"></script>
    <script src="js/stats/code-today.js"></script>
    <script src="js/warzone.js"></script>
  </head>
  <body ng-app="warzoneApp">
     <div class="row" ng-controller="retrieveUsernameController">
     <div class="container col-md-2">
	<div class="usernamebox">
	    <div ng-show="user">
	    <div ng-hide="user.name">
	    You are unknown to us, connecting from {{user.ip}}
	    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registrationModal">Register</button>
	    </div>

	    <div ng-show="user.name">
	    We know you as <a href="{{user.profile_url}}">{{user.name}}</a>, connecting from {{user.ip}}
	    </div>
	    </div>

	    <div ng-hide="user">
	    <img src="img/spinner.gif">
	    </div>
        </div>
	<div class="navbar navbar-inverse" role="navigation">
          <ul class="nav nav-pills nav-stacked">
	    <li><a href="/#/overview">Live overview</a></li>
	    <li><a href="/#/stats">Statistics</a></li>
	    <li><a href="/#/help">Help</a></li>
          </ul>
        </div>
    </div>

    <div ng-view></div>
    </div><!-- /.row -->

    <!-- registration modal -->
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true" ng-controller="registerController">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    <h4 class="modal-title" id="registrationModalLabel">Register warzone account</h4>
	  </div>
	  <div class="modal-body">
	    <div ng-show="error">{{error}}</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Username</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="Your username..." class="input-xlarge" ng-model="account.username" />
    <p class="help-block">Your username identifies you on the warzone and will be used in both the VPN and warzone registry credentials.</p>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="button1id">Account type</label>
    <div class="btn-group" data-toggle="buttons">
	<label class="btn btn-primary" ng-repeat="t in accountTypes" 
	    ng-class="{active:account.type==t}" 
	    ng-click="setAccountType(t)">
		<input type="radio">{{t}}
	</label>
  </div>
  <p class="help-block">Client accounts are recommended for beginners, since they offer
network-level protection. Router accounts are for advanced users not needing protection. In addition, router accounts have the ability to connect servers to the warzone.</p>
</div>

<div class="control-group">
  <label class="control-label" for="textinput">Certificate Signing Request</label>
  <div class="controls">
    <input id="selectCSRFile" type="file">
    <p class="help-block">All clients and routers on the warzone authenticate using signed SSL client certificates. To sign up, you need a Certificate Signing Request (CSR) file which can be generated using the <a href="https://github.com/StevenVanAcker/OverTheWire-draco-tools">draco-tools</a>.</p>
    <pre ng-show="account.csr">{{account.csr}}</pre>
  </div>
</div>

	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    <button type="button" class="btn btn-primary" ng-click="register(account)">Register</button>
	  </div>
	</div>
      </div>
    </div>

  </body>
</html>




