<div class="container col-md-9 mycontent">
<div ng-show="data">
    <h1>Your subkeys</h1>

    <div class="container">
      <div class="row clearfix">
	<div class="col-md-6 column">
	  <div class="panel-group" id="panel-keys">


	    <div class="panel panel-default" ng-repeat="(key, value) in data.subkeys">
	      <div class="panel-heading">
		 <div class="panel-title collapsed" data-toggle="collapse" href="#key-details-{{key}}">
		    <div class="row">
		      <div class="col-xs-2">
			<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': true}"></i>
		      </div>
		      <div class="col-xs-5">{{key}}</div>
		      <div class="col-xs-5">Role: {{value.role}}</div>
		    </div>
		 </div>
	      </div>
	      <div id="key-details-{{key}}" class="panel-collapse collapse">
		<div class="panel-body">
		    <div class="row">
		      <div class="col-xs-2">
			<label class="control-label">Role</label>
		      </div>
		      <div class="col-xs-6">
			<select name="role" class="form-control" ng-model="value.role">
			  <option ng-repeat="(rolename, dontcare) in data.roles" value="{{rolename}}">{{rolename}}</option>
			</select>
		      </div>
		      <div class="col-xs-4">
			<button class="btn btn-primary btn-sm btn-group-justified" ng-click="updateKey(key, value.role)">Change role</button>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-xs-8">
			<ul>
			  <li><a href="/s/user/{{user.name}}/subkey/{{key}}/download">Download certificate</a></li>
			</ul>
		      </div>
		      <div class="col-xs-4">
			<button class="btn btn-danger btn-sm btn-group-justified" ng-click="deleteKey(key)">Delete key</button>
		      </div>
		    </div>
		</div>
	      </div>
	    </div>

	  </div>
	</div>
      </div>

      <div class="row clearfix">
	<div class="col-md-6 column">
	    <button class="btn btn-primary btn-lg btn-group-justified" data-toggle="modal" data-target="#addKeyModal">Add key</button>
	</div>
      </div>

    </div>


</div>

<div ng-hide="data">
    <img src="img/spinner.gif">
</div>
</div>


<div class="modal fade" id="addKeyModal" tabindex="-1" role="dialog" aria-labelledby="addKeyModalLabel" aria-hidden="true" ng-controller="AddKeyController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title" id="addKeyModalLabel">Add key</h4>
      </div>
      

      <div ng-show="alerttype" class="alert" ng-class="alerttype" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Error:</span>
	  {{alertmsg}}
      </div>

      <div class="modal-body">
	    <div class="row">
		<div class="col-md-2">
		  <label class="control-label">Subkey name</label>
		</div>
		<div class="col-md-10">
		  <div class="controls">
		    <input name="subkeyname" type="text" placeholder="Subkey name..." class="form-control" ng-model="subkeyname" />
		    <p class="help-block">An identifier for this subkey.</p>
		  </div>
		</div>
	    </div>

	    <div class="row">
		<div class="col-md-2">
		  <label class="control-label">Subkey role</label>
		</div>
		<div class="col-md-10">
		  <div class="controls">
		    <select name="subkeyrole" class="form-control" ng-model="subkeyrole">
			<option ng-repeat="(rolename, dontcare) in data.roles" value="{{rolename}}">{{rolename}}</option>
		    </select>
		    <p class="help-block">Access role to assign to this key.</p>
		  </div>
		</div>
	    </div>

	    <div class="row">
		<div class="col-md-2">
		  <label class="control-label">SPKAC file</label>
		</div>
		<div class="col-md-10">
		      <input id="selectSPKACFile" class="form-control" type="file">
		      <p class="help-block">An SPKAC (Signed public key and challenge) generated from a private key. A private key and accompanying SPKAC file can be generated usign the following OpenSSL commands:
		      <pre>openssl genrsa -out {{user.name}}-{{subkeyname}}.key 2048
openssl spkac -key {{user.name}}-{{subkeyname}}.key -out {{user.name}}-{{subkeyname}}.spkac</p>
		</div>
	    </div>
	    <div class="footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" ng-click="addKey()">Add key</button>
	    </div>
      </div>
    </div>
  </div>
</div>








