<div class="container col-md-9 mycontent">
<div ng-show="data">
<h1>Live routers</h1>

<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>last update</th>
    </thead>
    <tbody>
	<tr ng-repeat="rec in data" ng-click="gotoProfile(rec.name)" class="clickableRow">
            <td>{{rec.name}}</td>
            <td><span am-time-ago="rec.lastChange * 1000"></span></td>
        </tr>
    </tbody>
</table>
</div>

<div ng-hide="data">
<img src="img/spinner.gif">
</div>
</div>
