<div class="container col-md-9 mycontent">
<div ng-show="data">
    <h1>Your roles</h1>

    <div class="container">
      <div class="row clearfix">
	<div class="col-md-6 column">
	  <div class="panel-group" id="panel-roles">
	    <div class="panel panel-default" ng-repeat="(rolename, catrec) in data.roles">
	      <div class="panel-heading">
		 <div class="panel-title collapsed" data-toggle="collapse" href="#role-details-{{rolename}}">
		    <div class="row">
		      <div class="col-xs-1">
			<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': true}"></i>
		      </div>
		      <div class="col-xs-10">{{rolename}}</div>
		    </div>
		 </div>
	      </div>
	      <div id="role-details-{{rolename}}" class="panel-collapse collapse">
		<div class="panel-body">
		    <div class="row">
		      <div class="col-xs-4 vertical-center">User of this role can... </div>
		      <div class="col-xs-8">
		        <div ng-repeat="(category, rolerec) in catrec">
			  <div ng-repeat="(resource, permlist) in rolerec">
			    <div class="row" ng-repeat="(perm,dontcare) in permlist">
			      <div class="col-xs-4">{{perm}}</div>
			      <div class="col-xs-6">{{resource}}</div>
			      <div class="col-xs-2"><i class="pull-left glyphicon" ng-class="{'glyphicon-remove': true}" ng-click="revokePermission(rolename, category, resource, perm)"></i></div>
			    </div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-xs-4">
			    <select class="form-control" ng-model="actionToAdd" ng-hide="!resourceToAdd">
			      <option value=""></option>
			      <option ng-repeat="(i, dontcare) in getActionList(resourceToAdd)" value="{{i}}">{{i}}</option>
			    </select>
			  </div>
			  <div class="col-xs-5">
			    <select class="form-control" ng-model="resourceToAdd" ng-change="actionToAdd=''">
			      <option value=""></option>
			      <option ng-repeat="(i, dontcare) in getResourceList()" value="{{i}}">{{i}}</option>
			    </select>
			  </div>
			  <div class="col-xs-3"><button class="btn btn-primary btn-sm btn-group-justified" data-ng-disabled="!resourceToAdd || !actionToAdd" ng-click="addPermission(rolename, resourceToAdd, actionToAdd)">Add</button></div>
			</div>
		      </div>
		    </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="row clearfix">
	<div class="col-md-6 column">
	    <button class="btn btn-primary btn-lg btn-group-justified" data-toggle="modal" data-target="#addRoleModal">Add role</button>
	</div>
      </div>
    </div>


</div>

<div ng-hide="data">
    <img src="img/spinner.gif">
</div>
</div>


