<div class="container col-md-9 mycontent">
<div ng-show="data">
    <h1>Your roles</h1>

    <div class="container">
      <div class="row clearfix">
	<div class="col-md-6 column">
	  <div class="panel-group" id="panel-roles">
	    <div class="panel panel-default" ng-repeat="(rolename, catrec) in data.roles">
	      <div class="panel-heading">
		 <div class="panel-title collapsed" href="#role-details-{{rolename}}">
		    <div class="row" ng-click="expandRole(rolename)">
		      <div class="col-xs-1">
			<i class="pull-left glyphicon glyphicon-chevron-down"></i>
		      </div>
		      <div class="col-xs-10">{{rolename}}</div>
		      <div class="col-xs-1">
			<i class="pull-left glyphicon glyphicon-remove" ng-click="deleteRole(rolename, $event)"></i>
		      </div>
		    </div>
		 </div>
	      </div>
	      <div id="role-details-{{rolename}}" class="panel-collapse collapse">
		<div class="panel-body">
		    <div class="row">
		      <div class="col-xs-4">User of this role can... </div>
		      <div class="col-xs-8">
		        <div ng-repeat="(category, rolerec) in catrec">
			  <div ng-repeat="(resource, permlist) in rolerec">
			    <div class="row" ng-repeat="(perm,dontcare) in permlist">
			      <div class="col-xs-4">{{perm}}</div>
			      <div class="col-xs-6">{{resource}}</div>
			      <div class="col-xs-2"><i class="pull-left glyphicon" ng-class="{'glyphicon-remove': true}" ng-click="revokePermission(rolename, category, resource, perm)"></i></div>
			    </div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-xs-4">
			    <select class="form-control" ng-model="actionToAdd" ng-hide="!resourceToAdd">
			      <option value=""></option>
			      <option ng-repeat="(i, dontcare) in getActionList(resourceToAdd)" value="{{i}}">{{i}}</option>
			    </select>
			  </div>
			  <div class="col-xs-5">
			    <select class="form-control" ng-model="resourceToAdd" ng-change="actionToAdd=''">
			      <option value=""></option>
			      <option ng-repeat="(i, dontcare) in getResourceList()" value="{{i}}">{{i}}</option>
			    </select>
			  </div>
			  <div class="col-xs-3"><button class="btn btn-primary btn-sm btn-group-justified" data-ng-disabled="!resourceToAdd || !actionToAdd" ng-click="addPermission(rolename, resourceToAdd, actionToAdd)">Add</button></div>
			</div>
		      </div>
		    </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="row clearfix">
	<div class="col-md-6 column">
	    <button class="btn btn-primary btn-lg btn-group-justified" data-toggle="modal" data-target="#addRoleModal">Add role</button>
	</div>
      </div>
    </div>


</div>

<div ng-hide="data">
    <img src="img/spinner.gif">
</div>
</div>

<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title" id="addRoleModalLabel">Add role</h4>
      </div>

      <div class="modal-body">
	    <div class="row">
		<div class="col-md-2">
		  <label class="control-label">Role name</label>
		</div>
		<div class="col-md-9">
		  <div class="controls">
		    <input name="roleToAdd" type="text" placeholder="Role name..." class="form-control" ng-model="roleToAdd" />
		      <div ng-show="isValidRoleName(roleToAdd) != 'ok' && isValidRoleName(roleToAdd) != ''" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			<span ng-show="isValidRoleName(roleToAdd) == 'error-charset'">Must only consist of alphanumeric characters, dashes and underscores</span>
			<span ng-show="isValidRoleName(roleToAdd) == 'error-exists'">Must not already exist</span>
			<span ng-show="isValidRoleName(roleToAdd) == 'error-length'">Must be less than or equal to 30 characters</span>
		      </div>
		  </div>
		</div>
		<div ng-show="isValidRoleName(roleToAdd) == 'ok'" class="col-md-1 green-tick"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></div>
		<div ng-show="isValidRoleName(roleToAdd) != 'ok' && isValidRoleName(roleToAdd) != ''" class="col-md-1 red-tick"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i></div>
	    </div>
	    <div class="footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" ng-click="addOrUpdateRole('add',roleToAdd)">Add role</button>
	    </div>
      </div>
    </div>
  </div>
</div>








